{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<div class="container=fluid py-0">
 <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/image/mountain11.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h3> 𝓜𝓸𝓾𝓷𝓽𝓪𝓲𝓷 </h3>
        <p><h5>“𝒯𝒽𝑒 𝓂𝑜𝓊𝓃𝓉𝒶𝒾𝓃𝓈 𝒶𝓇𝑒 𝓉𝒽𝑒 𝓁𝒶𝓈𝓉 𝓅𝓁𝒶𝒸𝑒 𝓌𝒽𝑒𝓇𝑒 𝓂𝒶𝓃 𝒸𝒶𝓃 𝒻𝑒𝑒𝓁 𝓉𝓇𝓊𝓁𝓎 𝓌𝒾𝓁𝒹.” – 𝒲𝑒 𝒟𝓇𝑒𝒶𝓂 𝑜𝒻 𝒯𝓇𝒶𝓋𝑒𝓁</h5></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/image/river.jpg" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h3>𝓡𝓲𝓿𝓮𝓻</h3>
        <p><h5>“𝐿𝒾𝒻𝑒 𝒾𝓈 𝓁𝒾𝓀𝑒 𝒶 𝓇𝒾𝓋𝑒𝓇. 𝐿𝑒𝓉 𝒾𝓉 𝒻𝓁𝑜𝓌 𝒾𝓃 𝒾𝓉𝓈 𝑜𝓌𝓃 𝓌𝒶𝓎. 𝒩𝑒𝓋𝑒𝓇 𝓉𝓇𝓎 𝓉𝑜 𝒸𝑜𝓃𝓉𝓇𝑜𝓁 𝒾𝓉.” – 𝒮𝒽𝑜𝒷𝒶𝓃𝒶 𝑅𝒶𝒿𝒶𝓈𝓊𝓃𝒹𝒶𝓇𝒶𝓂</h5></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/image/tourism.jpg" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h3>𝓛𝓲𝓯𝓮𝓼𝓽𝔂𝓵𝓮</h3>
        <p><h5>“𝐿𝒾𝒻𝑒 𝒾𝓈 𝓁𝒾𝓀𝑒 𝓇𝒾𝒹𝒾𝓃𝑔 𝒶 𝒷𝒾𝒸𝓎𝒸𝓁𝑒. 𝒯𝑜 𝓀𝑒𝑒𝓅 𝓎𝑜𝓊𝓇 𝒷𝒶𝓁𝒶𝓃𝒸𝑒, 𝓎𝑜𝓊 𝓂𝓊𝓈𝓉 𝓀𝑒𝑒𝓅 𝓂𝑜𝓋𝒾𝓃𝑔.” — 𝒜𝓁𝒷𝑒𝓇𝓉 𝐸𝒾𝓃𝓈𝓉𝑒𝒾𝓃</h5></p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="container my-4">
<h1 class="my-2 text-center">𝚂𝚎𝚕𝚎𝚌𝚝 𝚏𝚛𝚘𝚖 𝚝𝚑𝚎 𝚃𝚘𝚞𝚛 & 𝚅𝚊𝚌𝚊𝚝𝚒𝚘𝚗 𝚙𝚊𝚌𝚔𝚊𝚐𝚎</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/image/shimla.jpg" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="text-center">𝑴𝒂𝒏𝒂𝒍𝒊 (𝟐 𝑵𝒊𝒈𝒉𝒕)- ₹ 𝟏𝟎𝟎𝟎𝟎</p>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/image/kashmir.jpg" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="text-center">𝑲𝒂𝒔𝒉𝒎𝒊𝒓 (𝟒 𝑵𝒊𝒈𝒉𝒕)- ₹ 𝟑𝟎𝟎𝟎𝟎</p>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/image/goa.jpg" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="text-center">𝑮𝒐𝒂 (𝟏 𝑵𝒊𝒈𝒉𝒕)- ₹ 𝟏𝟓𝟎𝟎𝟎</p>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock body %}
